
// primevue
:root {
    // --primary-50: #bbe4fb;
    // --primary-100: #AAE0FF;
    // --primary-200: #86BCED;
    // --primary-300: #629AC9;
    // --primary-400: #3D78A6;
    // --primary-500: #0D5984;
    // --primary-600: #0b4e75;
    // --primary-700: #094568;
    // --primary-800: #083b5a;
    // --primary-900: #06314b;
    // --primary-950: #05283e;
    --primary-50: 187 228 251;
    --primary-100: 170 224 255;
    --primary-200: 134 188 237;
    --primary-300: 98 154  201;
    --primary-400: 61 120 166;
    --primary-500: 13 89 132;
    --primary-600: 11 78 117;
    --primary-700: 9 69 104;
    --primary-800: 8 59 90;
    --primary-900: 6 49 75;
    --primary-950: 5 40 62;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}

@layer {
    a.base {
        @apply text-primary-high;
    
        &:hover {
            @apply underline text-primary;
        }
    }
}

input[type="text"].base, input[type="number"].base,
input[type="file"].base, input[type="email"].base {
    // from: https://tailwindui.com/components/application-ui/forms/form-layouts

    @apply rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400;

    &:focus {
        @apply ring-2 ring-inset ring-primary;
    }

    @media sm {
        @apply sm:text-sm sm:leading-6;
    }
}

textarea.base {
    @apply p-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400;

    &:focus {
        @apply ring-2 ring-inset ring-primary;
    }

    @media sm {
        @apply sm:py-1.5 sm:text-sm sm:leading-6;
    }
}

button.base {
    &.btn-secondary {
        @apply rounded-md bg-secondary-high px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-secondary-low;
        &:hover {
            @apply bg-secondary;
        }
    }

    &.btn-primary {
        @apply rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm;
        &:hover {
            @apply bg-primary-high;
        }

        &:focus-visible {
            @apply outline outline-2 outline-offset-2 outline-primary-low;
        }
    }
} 