.dimmer-wrapper {
    position: relative;
}

.dimmer-wrapper > .dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
}

.dimmer-wrapper > .dimmer + .dimmer-content {
    filter: blur(3px);
}