SUPABASE_URL="<Check Supabase>"
SUPABASE_KEY="<Check Supabase>"
SUPABASE_SERVICE_KEY="<Check Supabase>"
DATABASE_URL="<Check Supabase>"
MLBACKEND_URL="<Currently locally hosted>"
SMTP_URL="smtp://localhost:54325"
BETTER_AUTH_SECRET="<openssl rand -hex 32>"
BETTER_AUTH_URL="http://localhost:3000"