node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
.env.prod
.env.local
dist
.DS_Store
.vercel

cypress/downloads
cypress/screenshots
cypress/videos
test-results.xml
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright/.auth
